@model Tindero.Models.Customer
@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Showing Details for @Model.FirstName  @Model.LastName</h2>
<ul>
    <li>Birth Date: @Model.Birthdate.ToShortDateString()</li>
    <li>Type: @Model.CustomerType.Name</li>
</ul>

