 @model IEnumerable<Tindero.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <text>We don't have a customer yet.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(@customer.FirstName + ' ' + customer.LastName, "ShowDetails", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.Birthdate.ToString("dd MMM yyyy")</td>
            </tr>
            }
        </tbody>
    </table>
}